body {
    align-items: center;
    background-color: rgb(14,14,14);
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    margin: 0;
}

button {
    background-color: rgb(1,103,177);
    display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

label {
    display: block;
    margin-bottom: 3px;
}

input {
    height: 1.5rem;
}

.form {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 20px;
    width: 32rem;
}

.form form {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.input-group {
    margin-bottom: 15px;
}

.frame {
    height: 100vh;
}

.text {
    background-color: rgb(249, 250, 252);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100vh;
    justify-content: center;
}

.text > * {
    padding-left: 3rem;
}

.appeal {
    font-size: 24px;
    width: 32rem;
    font-weight: 900;
}